<%- include header %>
  <legend>管理页面</legend>
  <% if (success) { %>
    <div class = "alert alert-success">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= success %>
    </div>
  <% } %>
  <p>管理员，欢迎你。</p>
  <form method="post">
    <button type="sumbit" class="btn btn-primary">退出</button>
  </form>
  &nbsp;
  <table class = "table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>学号</th>
        <th>年级</th>
        <th>学院</th>
        <th>电子邮件</th>
      </tr>
    </thead>
    <tbody>
    <% docs.forEach(function(doc) {%>
      <tr>
        <th><%= doc.name %></th>
        <th><%= doc.id %></th>
        <th><%= doc.grade %></th>
        <th><%= doc.college %></th>
        <th><%= doc.email %></th>
      </tr>
    <% }) %>
    </tbody>
  </table>
<%- include footer %>
